
@{

}
<header>
    <style>
        .title {
            display: flex;
            justify-content: center; /* Căn giữa theo chiều ngang */
        }

        body {
            background-image: url("../../wwwroot/img/admin_background.jpg")
 
        }
    </style>
</header>
<body>
    <h2 class="title">CHÀO MỪNG ADMIN QUAY TRỞ LẠI</h2>
</body>

