@{

}
<header>
    <style>
        .title {
            display: flex;
            justify-content: center;
        }

        body {
            
        }
        img{
            width: 100%;
        }
    </style>
</header>
<body>
    <h2 class="title">CHÀO MỪNG ADMIN QUAY TRỞ LẠI</h2>
    <img src="/img/adminBackground.jpg" alt="">

</body>

