@model MusicWeb.Models.Domain.Songs

@{
    ViewData["Title"] = "Create";
}

<header>
    <style>
        .title {
            display: flex;
            justify-content: center; /* Căn giữa theo chiều ngang */
        }
    </style>
</header>

<h1 class="title">THÊM BÀI HÁT MỚI</h1>

<h4 class="title" >QUẢN LÝ BÀI HÁT</h4>
<hr />
<div class="row title">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Tiêu đề bài hát</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SongName" class="control-label">Tên bài hát</label>
                <input asp-for="SongName" class="form-control" />
                <span asp-validation-for="SongName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rate" class="control-label">Chỉ số Rating</label>
                <input asp-for="Rate" class="form-control" />
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkLocal" class="control-label">Tên file nhạc</label>
                <input asp-for="LinkLocal" class="form-control" />
                <span asp-validation-for="LinkLocal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkImg" class="control-label">Ghi chú</label>
                <input asp-for="LinkImg" class="form-control" />
                <span asp-validation-for="LinkImg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lyric" class="control-label">Lời bài hát</label>
                <input asp-for="Lyric" class="form-control" />
                <span asp-validation-for="Lyric" class="text-danger"></span>
            </div>
            <div class="form-group title">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
