@model MusicWeb.Models.Domain.Songs

@{
    ViewData["Title"] = "Edit";
}
<header>
    <style>
        .title {
            display: flex;
            justify-content: center;
        }

        body {
        }

        img {
            width: 100%;
        }
    </style>
</header>
<h1 class="title">CHỈNH SỬA THÔNG TIN BÀI HÁT</h1>

<h4 class="title">BÀI HÁT</h4>
<hr />
<div class="row title">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SongId" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SongName" class="control-label"></label>
                <input asp-for="SongName" class="form-control" />
                <span asp-validation-for="SongName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rate" class="control-label"></label>
                <input asp-for="Rate" class="form-control" />
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkLocal" class="control-label"></label>
                <input asp-for="LinkLocal" class="form-control" />
                <span asp-validation-for="LinkLocal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkImg" class="control-label"></label>
                <input asp-for="LinkImg" class="form-control" />
                <span asp-validation-for="LinkImg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lyric" class="control-label"></label>
                <input asp-for="Lyric" class="form-control" />
                <span asp-validation-for="Lyric" class="text-danger"></span>
            </div>
            <div class="form-group title">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="title">
    <a asp-action="Index">Trang chủ</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
